@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Cairo";
    box-sizing: border-box;
    margin: 0;

}
body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}
.post-content p{
    margin-bottom:0.5rem ;
}
.post-content h1{
    font-size:1.5rem ;
    font-weight: 600;
    font-family: "Cairo", sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}
.post-content a{
    color: rgb(73, 149, 199);
    text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}
.dark .post-content a {
    color: red;
  }
.custom-font-color1{
    
    color:#cda367;
    text-decoration: none;
}
.custom-font-color2{
    color:#885e24;
}
.custom-font-color3{
    color:#343537;
}
.custom-bg-color1{
    
    background:#cda367;
}
.custom-bg-color2{
    background:#885e24;
}
.custom-bg-rawafid{
    background: #343537;
}
.dropbtn {
    background: transparent;
    border: none;
    font-size:1rem;
    line-height: 1.5rem;
    color: #cda367;
    font-weight: bold;
  }
  
  .drobdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    background: #ffffff;
    min-width: 1px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
   

  }
  
  .dropdown-content a {
    display: block;
    color: #cda367;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {
    background: #ddd;
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  .acc-wrapper button {
      padding: 10px 20px;
      background: #343537;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
  }
  

  
 

  
  .acc-content {
    color: #cda367;
    height: auto;
    direction: rtl;
  }
  #arabic{
    direction: rtl;
  }
#rawafidborder{
    border-color: #343537;
}
#rawafidborder:hover{
    background: #343537;
    text-decoration: underline;
    cursor: pointer;
}

.custom-bg-color3{
    background:#343537 ;
}




/*
here is the background
*/
section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 100px;
}

@media (max-width: 1000px) {
	section {
		padding: 100px 50px;
	}
}

@media (max-width: 600px) {
	section {
		padding: 125px 30px;
	}
}

/*box of video*/

.box {
	position: relative;
	justify-content: center;
	min-height: 114vh;
	color: #fff;
	text-align: center;
}
.box video {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
@media (max-width: 800px) {
	.box {
		min-height: 600px;
	}
	
}


/*
animation try
*/

.view {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .blockers {
    
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -10px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
 

  @keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(100% 100% 0 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  .blockers {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }


/* here */

.card
{
	position:relative;
	width:300px;
	height:400px;
	transform-style:preserve-3d;
}
.card .face
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	transform-style:preserve-3d;
	display:flex;
	justify-content:center;
	align-items:center;
	backface-visibility:hidden;
	transition: 2s ease-in-out;
	transform: perspective(500px) rotatey(0deg);
}
.card .face.front
{
	
}
.card:hover .face.front
{
	transform: perspective(500px) rotatey(180deg);
}
.card .face.back
{
	transform: perspective(500px) rotatey(180deg);
}
.card:hover .face.back
{
	transform: perspective(500px) rotatey(360deg);
}
.card .face h2
{
	font-size:4em;
	text-transform:uppercase;
	transform: perspective(500px) translatez(50px);
}