@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Cairo";
    box-sizing: border-box;
    margin: 0;

}
body{
    height: 100vh;
}

.ql-editor{
    font-size: 1.05rem;
}
.post-content p{
    margin-bottom:0.5rem ;
}
.post-content h1{
    font-size:1.5rem ;
    font-weight: 600;
    font-family: "Cairo", sans-serif;
    margin: 1.5rem 0;
}

.post-content h2 {
    font-size: 1.4rem;
    font-family: sans-serif;
    margin: 1.5rem 0;
}
.post-content a{
    color: rgb(73, 149, 199);
    text-decoration: none;
}
.post-content a:hover{
    text-decoration: underline;
}
.dark .post-content a {
    color: red;
  }
.custom-font-color1{
    
    color:#cda367;
    text-decoration: none;
}
.custom-font-color2{
    color:#885e24;
}
.custom-font-color3{
    color:#343537;
}
.custom-bg-color1{
    
    background:#cda367;
}
.custom-bg-color2{
    background:#885e24;
}
.custom-bg-rawafid{
    background: #343537;
}
.dropbtn {
    background: transparent;
    border: none;
    font-size:1rem;
    line-height: 1.5rem;
    color: #cda367;
    font-weight: bold;
  }
  
  .drobdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    background: #ffffff;
    min-width: 1px;
    position: absolute;
    z-index: 1;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
   

  }
  
  .dropdown-content a {
    display: block;
    color: #cda367;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
  }
  
  .dropdown-content a:hover {
    background: #ddd;
   
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  
  .acc-wrapper button {
      padding: 10px 20px;
      background: #343537;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
  }
  

  
 

  
  .acc-content {
    color: #cda367;
    height: auto;
    direction: rtl;
  }
  #arabic{
    direction: rtl;
  }
#rawafidborder{
    border-color: #343537;
}
#rawafidborder:hover{
    background: #343537;
    text-decoration: underline;
    cursor: pointer;
}